.vscode
*.DS_Store

output
cgi-bin/data/db_backups

cgi-bin/data/export/SGD_proteinCodingGenes_interactome.csv

cgi-bin/data/DB_genes_and_interactions.db

output/excel_files/interactome_test.xlsx
*.pyc
